<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<form action="{% url 'customer-edit-url' customer_id=customer.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="first_name" value="{{ customer.first_name }}">
    <input type="text" name="last_name" value="{{ customer.last_name }}">
    <input type="text" name="phone_number" value="{{ customer.phone_number }}">
    <textarea name="address" type="text " cols="30" rows="10">{{ customer.address }}</textarea>
    <button type="submit">OK</button>
</form>
</body>
</html>