{% extends 'base.html' %}

{% block title %}
    Register page
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Register page</h1>

        <form action="{% url 'register-url' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Sign up</button>
            <p class="text-center">If you already have an account, <a href="{% url 'login-url' %}">login</a> instead.</p>
        </form>

    </div>
{% endblock %}
